html {
    font-family: Verdana;
    font-size: 18px;
}
body {
    background-image: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.form {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left:10%;
    margin-right: 10%;
    padding: 5px;
}
.pad {
    padding: 2px;
}
.padtop {
    padding: 5px;
}
.title {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: #e5f6df;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 26px;
    padding: 5px;
}
.information {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e5f6df;
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
}

.captcha {
    margin-right: 1000px;
}