html {
    font-family: Verdana;
    font-size: 18px;
}
body {
    background-image: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.form {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left:10%;
    margin-right: 10%;
    padding: 5px;
}
.pad {
    padding: 2px;
}
.padtop {
    padding: 5px;
}
.title {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: #e5f6df;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 26px;
    padding: 5px;
}
.information {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e5f6df;
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
}
.rowh {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e5f6df;
    border-radius: 20px;
    border: 2px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.column1h {
    flex: 80%;
    padding: 5px;
}
.column2h {
    flex: 20%;
    padding: 5px;
    text-align: right;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    width: 70px;
    height: 70px;
    font-size: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.footer{
    border-radius: 10px;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #e5f6df;
    font-size: x-small;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}