html {
    font-family: Verdana;
    font-size: 18px;
}
body {
    background-image: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.title {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: #e5f6df;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 26px;
    padding: 5px;
}
.pad {
    padding: 5px;
}
.padtop {
    padding: 5px;
}

.bottom {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
}

.rowh {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e5f6df;
    border-radius: 20px;
    border: 2px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.column1h {
    flex: 80%;
    padding: 5px;
}
.column2h {
    flex: 20%;
    padding: 5px;
    text-align: right;
}



* {box-sizing:border-box}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}